svg {
    fill: color-mix(in srgb, var(--current-accent) 50%, var(--current-text));
    stroke: color-mix(in srgb, var(--current-accent) 50%, var(--current-text));
}

:host {
    position: relative;
    display: block;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
}

#element {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}