:host {
    height: fit-content;
}

.background {
    background-color: var(--current-mantle);
    min-width: 100%;
    width: max-content;
    height: 30px;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    user-select: none;
    cursor: pointer;
    resize: none;
    -webkit-user-drag: none;
}

.background:hover {
    background-color: var(--current-surface0);
}

#element {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: fit-content;
}

#name {
    font-weight: normal;
    font-size: 16px;
    color: var(--current-text);
    margin: 0px 4px;
    user-select: none;
    text-wrap: nowrap;
}

#className {
    font-weight: normal;
    font-size: 14px;
    color: var(--current-overlay0);
    margin: 0px 4px;
    user-select: none;
    text-wrap: nowrap;
}

hr {
    height: 100%;
    width: 1px;
    background-color: var(--current-overlay0);
    border: none;
    margin: 0px 4px;
}

.spacer {
    height: 100%;
    width: 1px;
    margin: 0px 8px;
}

svg {
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
    fill: var(--current-accent);
}

#closedArrow, #openArrow {
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrows {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}

input {
    font-family: Ubuntu;
    width: 100%;
    min-width: 0px !important;
    min-inline-size: 0px !important;
    height: 50%;
    border-radius: 4px;
    border: none;
    background-color: var(--current-surface1);
    padding: 5px;
    margin: 5px;
    color: var(--current-text);
    overflow: hidden;
}

input:focus {
    border: none;
    outline: var(--current-accent) 1px solid;
}

input::placeholder {
    color: var(--current-subtext0);
}

input::selection {
    background-color: color-mix(in srgb, var(--current-accent) 40%, transparent);
}