:host {
    background: none;
    height: 100%;
    width: 100%;
}

#element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 450px;
    background-color: var(--current-surface0);
    border-radius: 10px;
    box-shadow: none;
    z-index: -0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 85%;
    background-color: var(--current-surface0);
    border-radius: 10px 26px 26px 10px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    width: 16px;
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--current-overlay0);
    border-radius: 8px;
    background-clip: content-box;
    border: transparent solid 4px;
}

.container::-webkit-scrollbar-button:single-button {
    background: transparent;
    background-size: 0 0;
    height: 0;
    display: block;
}

.buttonMenu {
    width: calc(90% + 20px);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.refreshButton {
    width: 20px;
    height: 20px;
    margin: 5px;
    padding: 5px;
}

.refreshButton:hover {
    background-color: var(--current-overlay0);
    border-radius: 5px;
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
    fill: var(--current-accent);
}

h2 {
    margin: 10px;
    user-select: none;
}