:host {
    height: fit-content;
}

.background {
    background-color: var(--current-surface0);
    position: absolute;
    top: 0px;
    left: 0px;
    width: min-content;
    height: 25px;
    border-radius: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    user-select: none;
    cursor: pointer;
    resize: none;
    -webkit-user-drag: none;
    padding: 0px 5px;
    border-radius: 5px;
}

#element {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: fit-content;
}

#name {
    font-weight: normal;
    font-size: 14px;
    color: var(--current-text);
    margin: 0px 4px;
    user-select: none;
    text-wrap: nowrap;
}

#className {
    font-weight: normal;
    font-size: 12px;
    color: var(--current-overlay0);
    margin: 0px 4px;
    user-select: none;
    text-wrap: nowrap;
}

svg {
    width: 90%;
    height: 90%;
    margin: 0px;
    padding: 0px;
    fill: var(--current-accent);
}

.icon {
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}