:host {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background: none;
    display: flex;
    pointer-events: none;
}

#element {
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
}