#element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.background {
    background-color: var(--current-mantle);
    width: 350px;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    resize: horizontal;
}

.background::-webkit-scrollbar {
    width: 16px;
}

.background::-webkit-scrollbar-track {
    background: transparent;
}

.background::-webkit-scrollbar-thumb {
    background-color: var(--current-overlay0);
    border-radius: 8px;
    background-clip: content-box;
    border: transparent solid 4px;
}

.background::-webkit-scrollbar-button:single-button {
    background: transparent;
    background-size: 0 0;
    height: 0;
    display: block;
}

#name {
    color: var(--current-text);
    margin: 7px;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
    text-align: center;
}