:host {
    position: relative;
    display: block;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: 100%;
}

#element {
    width: 100%;
    height: calc(100% - 35px);
    padding-top: 35px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}