:host {
    --text-color: var(--current-text);
}

:host([window-unfocused]) {
    --text-color: var(--current-overlay0);
}

#titlebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--current-crust);
    -webkit-app-region: drag;
    user-select: none;
    z-index: 999999; /* high enough */
}

.window-controls button {
    -webkit-app-region: no-drag;
}

span {
    margin-left: 10px;
    font-weight: bold;
}

.window-controls {
    height: 100%;
    display: flex;
}

.drag-area {
    display: flex;
    align-items: center;
    height: 100%;
}

img {
    height: 50%;
    margin-left: 10px;
}

.window-controls button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    height: 100%;
    width: auto;
    aspect-ratio: 1.1 / 1;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out;
}

.window-controls button:hover {
    background-color: var(--current-surface0);
}

.menu-bar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: no-drag;
    margin-left: 10px;
    height: 100%;
}

.menu-button {
    color: var(--text-color);
    background: none;
    border: none;
    height: 70%;
    border-radius: 5px;
}

.menu-button:hover {
    background-color: var(--current-surface0);
}

.menu {
    font-family: Ubuntu;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 160px;
    background: var(--current-surface0);
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    z-index: 1000;
    border-radius: 5px;
    padding: 3px;
}

.menu-item {
    color: var(--current-text);
    font-family: Ubuntu;
    display: flex;
    width: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
}

.menu-item:hover {
    background-color: var(--current-surface1);
}

.menu hr {
    border: var(--current-overlay0) solid 0.5px;
    margin: 3px;
}