:host {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 3000;
    background: transparent;
    display: flex;
}

#element {
    user-select: all;
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
}