body {
    margin: 0px;
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#mainCanvas {
    background-color: black;
    z-index: -1;
}

#root {
    width: 100%;
    height: 100%;
}