:host {
    background: none;
    opacity: 1.0;
    height: 100%;
    width: 100%;
}

#element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: var(--current-surface0);
    width: 350px;
    height: 200px;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: min-content;
}

.bottomBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

#close {
    position: relative;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--current-accent);
    padding: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close svg {
    width: 70%;
    height: 70%;
}

#close:hover {
    background-color: var(--current-overlay0);
    border-radius: 5px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#confirm {
    background: transparent;
    border: var(--current-accent) 2px solid;
    box-sizing: border-box; 
    cursor: pointer;
    font-family: Ubuntu;
    border-radius: 4px;
    color: var(--current-text);
    margin: 5px;
    width: 80px;
    user-select: none;
    padding: 5px 10px;
}

#confirm:hover {
    background-color: var(--current-accent);
    border-color: transparent;
    color: var(--current-surface0);
}

#cancel {
    background: var(--current-accent);
    border: none;
    cursor: pointer;
    font-family: Ubuntu;
    border-radius: 4px;
    color: var(--current-surface0);
    margin: 5px;
    width: 80px;
    user-select: none;
    padding: 5px 10px;
}

#cancel:hover {
    background-color: color-mix(in srgb, var(--current-accent) 70%, white);;
}