:host {
    background: none;
    opacity: 1.0;
    height: 100%;
    width: 100%;
}

#element {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: var(--current-surface0);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: min-content;
}

#close {
    position: relative;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--current-accent);
    padding: 0px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close svg {
    width: 70%;
    height: 70%;
}

#close:hover {
    background-color: var(--current-overlay0);
    border-radius: 5px;
}